infrastructure/n8n/glitchtip-github-issue-workflow.json
{
  "name": "GlitchTip Error → GitHub Issue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glitchtip-error",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "errorTitle",
              "value": "={{ $json.body.title || $json.body.event?.title || $json.body.message || 'Unknown Error' }}"
            },
            {
              "name": "errorType",
              "value": "={{ $json.body.event?.type || $json.body.culprit || 'Error' }}"
            },
            {
              "name": "projectName",
              "value": "={{ $json.body.project_name || $json.body.project?.name || 'unknown' }}"
            },
            {
              "name": "issueUrl",
              "value": "={{ $json.body.url || '' }}"
            },
            {
              "name": "fingerprint",
              "value": "={{ $json.body.event?.fingerprint?.[0] || $json.body.id || '' }}"
            },
            {
              "name": "level",
              "value": "={{ $json.body.event?.level || $json.body.level || 'error' }}"
            }
          ]
        }
      },
      "id": "extract-fields",
      "name": "Extract Error Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.level }}",
              "value2": "error",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "is-error-level",
      "name": "Is Error Level?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/search/issues?q=repo:qws941/resume+is:open+label:glitchtip-error+label:automated+{{ encodeURIComponent($json.fingerprint) }}+in:body",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "search-by-fingerprint",
      "name": "Search by Fingerprint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_CREDENTIAL_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_count || 0 }}",
              "value2": 0,
              "operation": "equal"
            }
          ]
        }
      },
      "id": "has-existing",
      "name": "Has Existing Issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/qws941/resume/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=🐛 GlitchTip: {{ $('Extract Error Fields').item.json.errorTitle }}"
            },
            {
              "name": "body",
              "value": "=## Runtime Error (GlitchTip)\n\n| Field | Value |\n|-------|-------|\n| **Error** | {{ $('Extract Error Fields').item.json.errorTitle }} |\n| **Type** | {{ $('Extract Error Fields').item.json.errorType }} |\n| **Project** | {{ $('Extract Error Fields').item.json.projectName }} |\n| **Level** | {{ $('Extract Error Fields').item.json.level }} |\n| **Fingerprint** | `{{ $('Extract Error Fields').item.json.fingerprint }}` |\n| **GlitchTip** | [View Issue]({{ $('Extract Error Fields').item.json.issueUrl }}) |\n| **Time** | {{ $now.toISO() }} |\n\n---\n*Created automatically by n8n GlitchTip→GitHub integration. Close when resolved.*"
            },
            {
              "name": "labels",
              "value": "=[\"glitchtip-error\", \"automated\", \"bug\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "create-issue",
      "name": "Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_CREDENTIAL_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/qws941/resume/issues/{{ $('Search by Fingerprint').item.json.items[0].number }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=## 🐛 Error Recurrence ({{ $now.toISO() }})\n\n| Field | Value |\n|-------|-------|\n| **Error** | {{ $('Extract Error Fields').item.json.errorTitle }} |\n| **Type** | {{ $('Extract Error Fields').item.json.errorType }} |\n| **Project** | {{ $('Extract Error Fields').item.json.projectName }} |"
            }
          ]
        },
        "options": {}
      },
      "id": "comment-existing",
      "name": "Comment Existing Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_CREDENTIAL_ID",
          "name": "GitHub Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Fields": {
      "main": [
        [
          {
            "node": "Is Error Level?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Error Level?": {
      "main": [
        [
          {
            "node": "Search by Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Fingerprint": {
      "main": [
        [
          {
            "node": "Has Existing Issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Issue?": {
      "main": [
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Existing Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "monitoring-tag"
    },
    {
      "name": "github",
      "id": "github-tag"
    }
  ],
  "meta": {
    "instanceId": ""
  }
}
