infrastructure/n8n/resume-healthcheck-workflow.json
{
  "name": "Resume Portfolio - Health Check Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://resume.jclee.me/health",
        "method": "GET",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-healthcheck",
      "name": "Check Resume Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "any"
          },
          "conditions": [
            {
              "id": "condition-http-error",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "condition-timeout",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Is Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $env.EVOLUTION_WHATSAPP_NUMBER, text: `🚨 Resume Portfolio Alert\n\n🔗 URL: https://resume.jclee.me\n📟 Status: ${$('Check Resume Health').item.json.statusCode || 'Timeout'}\n🕒 Time: ${$now.toISO()}\n❗ Error: ${$('Check Resume Health').item.json.error || ('HTTP ' + $('Check Resume Health').item.json.statusCode)}` }) }}",
        "options": {}
      },
      "id": "whatsapp-alert",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [850, 200]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Resume Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resume Health": {
      "main": [
        [
          {
            "node": "Is Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Down?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "1"
    },
    {
      "name": "resume",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "2"
    }
  ],
  "meta": {
    "instanceId": "n8n-resume-monitoring"
  },
  "id": "resume-healthcheck",
  "versionId": "1.0.0"
}
