infrastructure/n8n/resume-healthcheck-workflow.json
{
  "name": "Resume Portfolio - Health Check Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://resume.jclee.me/health",
        "method": "GET",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-healthcheck",
      "name": "Check Resume Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "any"
          },
          "conditions": [
            {
              "id": "condition-http-error",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "condition-timeout",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Is Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Set Slack Webhook URL').item.json.webhookUrl }}",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"text\": \"🚨 Resume Portfolio Alert\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 Resume Portfolio Down\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*URL:*\\nhttps://resume.jclee.me\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Status:*\\n{{ $('Check Resume Health').item.json.statusCode || 'Timeout' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Time:*\\n{{ $now.toISO() }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Error:*\\n{{ $('Check Resume Health').item.json.error || 'HTTP ' + $('Check Resume Health').item.json.statusCode }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Triggered by n8n Health Check Monitor\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "webhook-url",
              "name": "webhookUrl",
              "value": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-webhook",
      "name": "Set Slack Webhook URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 350],
      "notes": "⚠️ REQUIRED: Update with your registered Slack Webhook URL from n8n credentials"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Resume Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resume Health": {
      "main": [
        [
          {
            "node": "Is Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Down?": {
      "main": [
        [
          {
            "node": "Set Slack Webhook URL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Slack Webhook URL": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "1"
    },
    {
      "name": "resume",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "2"
    }
  ],
  "meta": {
    "instanceId": "n8n-resume-monitoring"
  },
  "id": "resume-healthcheck",
  "versionId": "1.0.0"
}
