infrastructure/n8n/resume-sync-workflow.json
{
  "name": "Resume Data - Daily Sync Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://resume.jclee.me/job/api/automation/resume-sync",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{\"dryRun\": false, \"source\": \"n8n-scheduled\"}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-trigger-sync",
      "name": "Trigger Resume Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "any"
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "condition-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Sync Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $env.EVOLUTION_WHATSAPP_NUMBER, text: `🚨 Resume Sync Failed\n\n📟 Status: ${$('Trigger Resume Sync').item.json.statusCode || 'Timeout'}\n🕒 Time: ${$now.toISO()}\n❗ Error: ${$('Trigger Resume Sync').item.json.error || ('HTTP ' + $('Trigger Resume Sync').item.json.statusCode)}\n\nTriggered by n8n Daily Resume Sync` }) }}",
        "options": {}
      },
      "id": "whatsapp-fail",
      "name": "Send WhatsApp Failure Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $env.EVOLUTION_WHATSAPP_NUMBER, text: `✅ Resume Sync Complete\n\n📟 Status: Success\n🕒 Time: ${$now.toISO()}\n🧾 Details: ${JSON.stringify($('Trigger Resume Sync').item.json)}\n\nTriggered by n8n Daily Resume Sync` }) }}",
        "options": {}
      },
      "id": "whatsapp-success",
      "name": "Send WhatsApp Success Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Daily 9AM KST": {
      "main": [
        [
          {
            "node": "Trigger Resume Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Resume Sync": {
      "main": [
        [
          {
            "node": "Sync Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Failed?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Failure Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Success Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "automation",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "3"
    },
    {
      "name": "resume",
      "createdAt": "2025-01-20T00:00:00.000Z",
      "updatedAt": "2025-01-20T00:00:00.000Z",
      "id": "2"
    }
  ],
  "meta": {
    "instanceId": "n8n-resume-sync"
  },
  "id": "resume-sync-trigger",
  "versionId": "1.0.0"
}
