infrastructure/n8n/wanted-job-automation-workflow.json
{
  "name": "Wanted Korea - Job Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wanted-job-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "wanted-job-search"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session-path",
              "name": "sessionPath",
              "value": "/home/jclee/.claude/data/wanted-session.json",
              "type": "string"
            },
            {
              "id": "search-categories",
              "name": "categories",
              "value": "[674, 672, 899, 1634, 655]",
              "type": "string"
            },
            {
              "id": "search-keywords",
              "name": "keywords",
              "value": "DevOps,SRE,Security,Platform,Infrastructure",
              "type": "string"
            },
            {
              "id": "min-experience",
              "name": "minExperience",
              "value": "5",
              "type": "string"
            },
            {
              "id": "slack-webhook",
              "name": "slackWebhook",
              "value": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 400],
      "notes": "⚠️ REQUIRED: Update categories, keywords, and Slack webhook URL"
    },
    {
      "parameters": {
        "command": "resume-cli wanted status --json 2>/dev/null || echo '{\"authenticated\": false}'"
      },
      "id": "check-auth",
      "name": "Check Auth Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "any"
          },
          "conditions": [
            {
              "id": "auth-expired",
              "leftValue": "={{ $json.authenticated }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "auth-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-auth-valid",
      "name": "Auth Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $('Configuration').item.json.slackWebhook }}",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ Wanted Auth Expired\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"⚠️ Wanted Session Expired\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"Please run `resume-cli wanted auth --browser` to re-authenticate\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-auth-expired",
      "name": "Notify Auth Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "command": "resume-cli wanted search --tags 674 --limit 20 --json 2>/dev/null || echo '[]'"
      },
      "id": "search-devops",
      "name": "Search DevOps Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "resume-cli wanted search --tags 672 --limit 20 --json 2>/dev/null || echo '[]'"
      },
      "id": "search-security",
      "name": "Search Security Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 650],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "resume-cli wanted search --tags 1634 --limit 20 --json 2>/dev/null || echo '[]'"
      },
      "id": "search-ml",
      "name": "Search ML Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1250, 650]
    },
    {
      "parameters": {
        "jsCode": "// Parse and deduplicate job results\nconst allJobs = [];\n\nfor (const item of $input.all()) {\n  try {\n    const jobs = JSON.parse(item.json.stdout || '[]');\n    if (Array.isArray(jobs)) {\n      allJobs.push(...jobs);\n    }\n  } catch (e) {\n    // Skip invalid JSON\n  }\n}\n\n// Deduplicate by job ID\nconst seen = new Set();\nconst uniqueJobs = allJobs.filter(job => {\n  if (seen.has(job.id)) return false;\n  seen.add(job.id);\n  return true;\n});\n\n// Sort by salary (higher first)\nconst sortedJobs = uniqueJobs.sort((a, b) => {\n  const salaryA = a.annual_to || a.annual_from || 0;\n  const salaryB = b.annual_to || b.annual_from || 0;\n  return salaryB - salaryA;\n});\n\nreturn sortedJobs.map(job => ({ json: job }));"
      },
      "id": "process-jobs",
      "name": "Process & Filter Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 650]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combineOperation": "all"
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-jobs-found",
      "name": "Jobs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 650]
    },
    {
      "parameters": {
        "jsCode": "// Format job list for Slack notification\nconst jobs = $input.all().slice(0, 10);\n\nconst blocks = [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": `🔍 Found ${$input.all().length} New Jobs on Wanted`\n    }\n  },\n  {\n    \"type\": \"divider\"\n  }\n];\n\nfor (const job of jobs) {\n  const j = job.json;\n  const location = j.address?.location + (j.address?.district ? ' ' + j.address.district : '') || 'N/A';\n  const salary = j.annual_from === 0 && j.annual_to === 0 ? '회사내규' : j.annual_to ? `${j.annual_from}~${j.annual_to}만원` : `${j.annual_from}만원+`;\n  blocks.push({\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": `*<https://www.wanted.co.kr/wd/${j.id}|${j.position}>*\\n🏢 ${j.company?.name || 'Unknown'}\\n📍 ${location}\\n💰 추천보상금: ${j.reward?.formatted_total || 'N/A'}\\n💵 연봉: ${salary}`\n    }\n  });\n  blocks.push({ \"type\": \"divider\" });\n}\n\nblocks.push({\n  \"type\": \"context\",\n  \"elements\": [\n    {\n      \"type\": \"mrkdwn\",\n      \"text\": `Searched at ${new Date().toISOString()} | Total: ${$input.all().length} jobs`\n    }\n  ]\n});\n\nreturn [{ json: { text: `🔍 Found ${$input.all().length} new jobs`, blocks } }];"
      },
      "id": "format-slack",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 550]
    },
    {
      "parameters": {
        "url": "={{ $('Configuration').item.json.slackWebhook }}",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2050, 550]
    },
    {
      "parameters": {
        "jsCode": "// Save job search results to file for tracking\nconst jobs = $input.all();\nconst timestamp = new Date().toISOString();\n\nconst report = {\n  timestamp,\n  totalJobs: jobs.length,\n  jobs: jobs.map(j => j.json)\n};\n\nreturn [{ json: report }];"
      },
      "id": "save-results",
      "name": "Prepare Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 750]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/jclee/.claude/data/wanted-job-search-results.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "write-report",
      "name": "Save Report",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [2050, 750]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 400]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Check Auth Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Status": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Notify Auth Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search DevOps Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Security Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search ML Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search DevOps Jobs": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Security Jobs": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search ML Jobs": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Process & Filter Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Filter Jobs": {
      "main": [
        [
          {
            "node": "Jobs Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs Found?": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "wanted",
      "createdAt": "2025-12-02T00:00:00.000Z",
      "updatedAt": "2025-12-02T00:00:00.000Z",
      "id": "3"
    },
    {
      "name": "automation",
      "createdAt": "2025-12-02T00:00:00.000Z",
      "updatedAt": "2025-12-02T00:00:00.000Z",
      "id": "4"
    },
    {
      "name": "job-search",
      "createdAt": "2025-12-02T00:00:00.000Z",
      "updatedAt": "2025-12-02T00:00:00.000Z",
      "id": "5"
    }
  ],
  "meta": {
    "instanceId": "n8n-wanted-automation"
  },
  "id": "wanted-job-automation",
  "versionId": "1.0.0"
}
