infrastructure/n8n/wanted-auto-login-workflow.json
{
  "name": "[RESUME:AUTO] Wanted Session Refresh",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 20 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 20
            }
          ]
        }
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "parameters": {
        "httpMethod": "POST",
        "path": "wanted-refresh-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "wanted-refresh-session"
    },
    {
      "id": "check-session",
      "name": "Check Session Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 400],
      "parameters": {
        "command": "/home/jclee/.local/bin/resume-cli wanted status --json 2>/dev/null || echo '{\"authenticated\":false}'"
      }
    },
    {
      "id": "parse-status",
      "name": "Parse Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400],
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '{}';\ntry {\n  const status = JSON.parse(output);\n  const needsRefresh = !status.authenticated || status.error?.includes('expired');\n  return { needsRefresh, status };\n} catch (e) {\n  return { needsRefresh: true, error: e.message };\n}"
      }
    },
    {
      "id": "check-needs-refresh",
      "name": "Needs Refresh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 400],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "needs-refresh",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.needsRefresh }}"
            }
          ]
        }
      }
    },
    {
      "id": "run-auto-login",
      "name": "Run Auto Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1150, 300],
      "parameters": {
        "command": "cd /home/jclee/dev/resume/typescript/job-automation && xvfb-run -a /home/jclee/.nvm/versions/node/v20.19.6/bin/node scripts/auto-login.js 2>&1 | tail -10"
      }
    },
    {
      "id": "verify-login",
      "name": "Verify Login",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1400, 300],
      "parameters": {
        "command": "/home/jclee/.local/bin/resume-cli wanted status --json 2>/dev/null"
      }
    },
    {
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300],
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '{}';\ntry {\n  const status = JSON.parse(output);\n  return {\n    success: status.authenticated === true,\n    email: status.email || 'unknown',\n    message: status.authenticated ? 'Session refreshed successfully' : 'Login failed'\n  };\n} catch (e) {\n  return { success: false, error: e.message };\n}"
      }
    },
    {
      "id": "notify-ipc",
      "name": "IPC Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "http://host.docker.internal:9003/ipc",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: 'claude', message: '[WANTED] ' + ($json.success ? '세션 갱신 완료: ' + $json.email : '세션 갱신 실패: ' + ($json.error || $json.message)), addTimestamp: true }) }}"
      }
    },
    {
      "id": "session-valid",
      "name": "Session Valid (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1150, 500],
      "parameters": {}
    },
    {
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success !== false, message: $json.message || 'Session check complete' } }}"
      }
    }
  ],
  "connections": {
    "Every 20 Hours": {
      "main": [[{ "node": "Check Session Status", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Check Session Status", "type": "main", "index": 0 }]]
    },
    "Check Session Status": {
      "main": [[{ "node": "Parse Status", "type": "main", "index": 0 }]]
    },
    "Parse Status": {
      "main": [[{ "node": "Needs Refresh?", "type": "main", "index": 0 }]]
    },
    "Needs Refresh?": {
      "main": [
        [{ "node": "Run Auto Login", "type": "main", "index": 0 }],
        [{ "node": "Session Valid (Skip)", "type": "main", "index": 0 }]
      ]
    },
    "Run Auto Login": {
      "main": [[{ "node": "Verify Login", "type": "main", "index": 0 }]]
    },
    "Verify Login": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    },
    "Parse Result": {
      "main": [[{ "node": "IPC Notification", "type": "main", "index": 0 }]]
    },
    "IPC Notification": {
      "main": [[{ "node": "Update Prometheus", "type": "main", "index": 0 }]]
    },
    "Update Prometheus": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    },
    "Session Valid (Skip)": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
