infrastructure/workflows/01-site-health-monitor.json
{
  "name": "Resume Site Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://resume.jclee.me/health",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 3
          }
        }
      },
      "id": "http-health-check",
      "name": "Check Health Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-unhealthy",
      "name": "Is Unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07XXXXXXXX",
          "mode": "list",
          "cachedResultName": "#infra-alerts"
        },
        "text": "=⚠️ **Resume Site Health Alert**\n\nStatus: {{ $json.status || 'DOWN' }}\nDeployed: {{ $json.deployed_at || 'Unknown' }}\nUptime: {{ $json.uptime_seconds || 0 }}s\n\n**Metrics:**\n• Total Requests: {{ $json.metrics.requests_total || 0 }}\n• Success: {{ $json.metrics.requests_success || 0 }}\n• Errors: {{ $json.metrics.requests_error || 0 }}\n\n🔗 https://resume.jclee.me/health\n📊 https://grafana.jclee.me/d/resume",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 180],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Resume Monitoring"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Downtime Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Status": "={{ $json.status || 'DOWN' }}",
            "Uptime": "={{ $json.uptime_seconds || 0 }}",
            "Requests Total": "={{ $json.metrics.requests_total || 0 }}",
            "Errors": "={{ $json.metrics.requests_error || 0 }}",
            "Alert Sent": "Yes"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-log-downtime",
      "name": "Log Downtime Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Resume Monitoring"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "list",
          "cachedResultName": "Health Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Status": "={{ $json.status }}",
            "Uptime": "={{ $json.uptime_seconds }}",
            "Requests Total": "={{ $json.metrics.requests_total }}",
            "Success": "={{ $json.metrics.requests_success }}",
            "Errors": "={{ $json.metrics.requests_error }}",
            "Alert Sent": "No"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-log-healthy",
      "name": "Log Healthy Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Health Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Health Endpoint": {
      "main": [
        [
          {
            "node": "Is Unhealthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unhealthy?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Downtime Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Healthy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T23:30:00.000Z",
      "updatedAt": "2025-11-18T23:30:00.000Z",
      "id": "1",
      "name": "monitoring"
    },
    {
      "createdAt": "2025-11-18T23:30:00.000Z",
      "updatedAt": "2025-11-18T23:30:00.000Z",
      "id": "2",
      "name": "resume"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T23:30:00.000Z",
  "versionId": "1"
}
