infrastructure/workflows/02-github-deployment-webhook.json
{
  "name": "GitHub Deployment Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-deploy",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "resume-deploy-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "commit_sha",
              "name": "commit_sha",
              "value": "={{ $json.commit_sha || $json.head_commit.id }}",
              "type": "string"
            },
            {
              "id": "commit_message",
              "name": "commit_message",
              "value": "={{ $json.commit_message || $json.head_commit.message }}",
              "type": "string"
            },
            {
              "id": "author",
              "name": "author",
              "value": "={{ $json.author || $json.head_commit.author.name }}",
              "type": "string"
            },
            {
              "id": "deployed_at",
              "name": "deployed_at",
              "value": "={{ $json.deployed_at || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.status || 'success' }}",
              "type": "string"
            },
            {
              "id": "workflow_run_id",
              "name": "workflow_run_id",
              "value": "={{ $json.workflow_run_id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-deployment-data",
      "name": "Extract Deployment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07YYYYYYYY",
          "mode": "list",
          "cachedResultName": "#deployments"
        },
        "text": "=🚀 **Resume Site Deployed**\n\nCommit: `{{ $json.commit_sha.substring(0,7) }}`\nMessage: {{ $json.commit_message }}\nAuthor: {{ $json.author }}\nTime: {{ $json.deployed_at }}\nStatus: {{ $json.status === 'success' ? '✅' : '❌' }} {{ $json.status.toUpperCase() }}\n\n🔗 https://github.com/qws941/resume/actions/runs/{{ $json.workflow_run_id }}\n🌐 https://resume.jclee.me",
        "otherOptions": {}
      },
      "id": "slack-deployment-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 180],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://loki.jclee.me/loki/api/v1/push",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "streams",
              "value": "=[{\n  \"stream\": {\n    \"job\": \"resume-worker\",\n    \"level\": \"INFO\",\n    \"source\": \"github-actions\"\n  },\n  \"values\": [\n    [\n      \"{{ ($now.toMillis() * 1000000).toString() }}\",\n      \"Deployment: {{ $json.commit_sha.substring(0,7) }} - {{ $json.commit_message }} ({{ $json.status }})\"\n    ]\n  ]\n}]"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "loki-log-deployment",
      "name": "Log to Loki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Resume Monitoring"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=2",
          "mode": "list",
          "cachedResultName": "Deployment Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.deployed_at }}",
            "Commit SHA": "={{ $json.commit_sha }}",
            "Message": "={{ $json.commit_message }}",
            "Author": "={{ $json.author }}",
            "Status": "={{ $json.status }}",
            "Workflow Run": "={{ $json.workflow_run_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-log-deployment",
      "name": "Log Deployment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Deployment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Deployment Data": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Loki",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-18T23:30:00.000Z",
      "updatedAt": "2025-11-18T23:30:00.000Z",
      "id": "1",
      "name": "monitoring"
    },
    {
      "createdAt": "2025-11-18T23:30:00.000Z",
      "updatedAt": "2025-11-18T23:30:00.000Z",
      "id": "2",
      "name": "resume"
    },
    {
      "createdAt": "2025-11-18T23:30:00.000Z",
      "updatedAt": "2025-11-18T23:30:00.000Z",
      "id": "3",
      "name": "github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T23:30:00.000Z",
  "versionId": "1"
}
