infrastructure/n8n/workflows/resume-deploy-optimized.json
{
  "name": "Resume Auto Deploy (Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-deploy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "resume-deploy-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ref }}",
              "operation": "equals",
              "value2": "refs/heads/master"
            }
          ]
        }
      },
      "id": "filter-master-branch",
      "name": "Filter Master Branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "command": "cd /home/jclee/dev/resume && git pull origin master 2>&1"
      },
      "id": "git-pull",
      "name": "Git Pull",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "command": "cd /home/jclee/dev/resume && npm run build 2>&1"
      },
      "id": "npm-build",
      "name": "Build Worker",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "command": "cd /home/jclee/dev/resume && npm test 2>&1"
      },
      "id": "npm-test",
      "name": "Run Tests",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "command": "cd /home/jclee/dev/resume && npm run test:e2e 2>&1"
      },
      "id": "npm-test-e2e",
      "name": "Run E2E Tests",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "command": "cd /home/jclee/dev/resume && npm run deploy 2>&1"
      },
      "id": "npm-deploy",
      "name": "Deploy (npm script)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "url": "https://resume.jclee.me/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "url": "https://loki.jclee.me/loki/api/v1/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "streams",
              "value": "={{ [{ \"stream\": { \"job\": \"resume-deploy\", \"level\": \"info\", \"source\": \"n8n\" }, \"values\": [[String(Date.now() * 1000000), JSON.stringify({ event: 'deployment', commit: $('GitHub Webhook').item.json.head_commit?.id || 'manual', message: $('GitHub Webhook').item.json.head_commit?.message || 'Manual deployment', status: 'success', health: $json })]] }] }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "loki-log",
      "name": "Log to Loki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', message: 'Deployment completed', commit: $('GitHub Webhook').item.json.head_commit?.id || 'unknown', timestamp: new Date().toISOString(), health: $('Health Check').item.json } }}"
      },
      "id": "webhook-response-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Deployment failed', error: $json.stderr || $json.error || 'Unknown error', timestamp: new Date().toISOString() } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "webhook-response-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2230, 500]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Filter Master Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Master Branch": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Build Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Worker": {
      "main": [
        [
          {
            "node": "Run Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tests": {
      "main": [
        [
          {
            "node": "Run E2E Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run E2E Tests": {
      "main": [
        [
          {
            "node": "Deploy (npm script)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy (npm script)": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Log to Loki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Loki": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null
}
